@use "../../styles/variables" as *;

.beyond-section {
  overflow: hidden;
  position: relative;
  a {
    color: $accent-burgundy;
    text-decoration: none;
  }
}

.beyond-content {
  h2 {
    color: $text-primary;
    text-shadow: $text-shadow-light;
    background: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(35, 35, 35);
  }

  p {
    max-width: 800px;
    color: $text-secondary;
    line-height: 1.8;
    margin-bottom: 1rem;
  }

  strong {
    color: $violet;
  }
}

.section-label {
  display: inline-block;
  margin-bottom: 1rem;
  color: $lilac;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
}

h2 {
  max-width: 620px;
  margin-bottom: 1.5rem;
  color: $text-primary;
  text-shadow: $text-shadow-light;
  -webkit-text-fill-color: rgb(35, 35, 35);
}

p {
  max-width: 620px;
  margin-bottom: 1rem;
  color: $text-secondary;
  line-height: 1.7;
}

.image-section {
  overflow: hidden;
  .decor-layer {
    right: 0;
    top: 29%;
  }

  .decor-dots {
    background-image: radial-gradient(
      $accent-burgundy 1.6px,
      transparent 1.6px
    );
  }

  .decor-circle p {
    color: $violet;
  }
}

.image-img {
  width: 90%;
}

@media (max-width: 768px) {
  .beyond-section {
    padding: 3rem 1.5rem;
  }

  .beyond-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .image-section {
    .decor-layer {
      top: 17%;
    }
  }
}
