@use "../../styles/variables" as *;

.projects-content {
  text-align: center;
  position: relative;
  overflow: visible;
  z-index: 2;

  h2 {
    color: $text-primary;
    text-shadow: $text-shadow-light;
    -webkit-text-fill-color: rgb(35, 35, 35);
  }
}

.projects-grid {
  overflow: visible;
  margin-top: 3rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  perspective: 1000px;
  position: relative;
  z-index: 2;
}

.project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  background: rgb(40 3 76 / 58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  box-shadow: $shadow-light;
}

.project-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  transform: translateZ(24px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-card-content {
  padding: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  transform: translateZ(24px);

  h3 {
    color: $accent-teal;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  p {
    color: whitesmoke;
    margin-bottom: 1rem;
    display: -webkit-box;

    line-clamp: 2;
    -webkit-line-clamp: 2;

    -webkit-box-orient: vertical;

    overflow: hidden;
  }

  a {
    display: inline-block;
    margin-top: auto;
    color: $accent-teal;
    font-weight: 800;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.project-link {
  font-size: 2rem;
  align-self: flex-end;
  place-items: center;
  &:hover {
    transform: translateY(-2px);
  }
}

.projects-section.glass-section {
  position: relative;
  overflow: visible;
}

.project-image-wrap {
  position: absolute;
  top: -19rem;
  left: 64px;
  width: 357px;
  z-index: 0;
  pointer-events: none;
  overflow: visible;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  span {
    padding: 0.35rem 0.7rem;
    border-radius: 999px;
    border: 1px solid #c7a6ff;
    font-size: 0.85rem;

    color: whitesmoke;
    background: rgba(255, 255, 255, 0.027);
    box-shadow:
      inset 0 1px 1px rgb(255 255 255 / 0%),
      0 4px 10px rgba(123, 109, 255, 0);
    backdrop-filter: blur(8px);
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }
}

@media (max-width: 1160px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-image-wrap {
    position: absolute;
    top: -8rem;
    left: 230px;
    width: 151px;
    z-index: 0;
    pointer-events: none;
    overflow: visible;
  }
}
