@use "../../styles/variables" as *;

.tech-section {
  margin-top: 4rem;
  overflow: hidden;
}

.tech-content {
  text-align: center;

  .section-label {
    color: $accent-burgundy;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
  }

  h2 {
    margin-top: 1rem;
    color: $text-primary;
    text-shadow: $text-shadow-light;
    -webkit-text-fill-color: rgb(35, 35, 35);
  }
}

.tech-octagon-wrapper {
  width: 100%;
  height: 560px;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

.tech-octagon-wrapper > div,
.tech-octagon-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.tech-card {
  width: 220px;
  height: 220px;
  border-radius: 28px;

  background: rgba(255, 255, 255, 0.836);
  border: 1px solid rgba(255, 255, 255, 0.781);
  backdrop-filter: blur(14px);
  box-shadow: $shadow-medium;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 700;
    color: $text-primary;
  }
}

.tech-card-icon {
  font-size: 5rem;
  color: $accent-teal;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .glass-section {
    padding: 2rem;
  }

  .tech-content {
    text-align: left;
  }

  .tech-octagon-wrapper {
    height: 380px;
  }

  .tech-card {
    width: 85px;
    height: 85px;
    border-radius: 22px;

    p {
      font-size: 0.6rem;
      margin-top: 0.4rem;
    }
  }

  .tech-card-icon {
    font-size: 1.8rem;
  }
}
